.app {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

@media (min-width: 1200px) {
  .app {
    padding: 0 80px;
  }
}

